* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title title"
        "filter-books add-book"
        "table table";

    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    align-items: center;
    justify-items: center;

    background-image: url("books.png");
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    grid-area: title;
    justify-self: center;

    margin-block-start: 10px;
    margin-block-end: 35px;
    padding: 5px;
    padding-inline: 25px;

    background-color: rgba(255, 255, 255, 0.900);
    color: rgb(26, 26, 26);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.429);
    box-shadow:
        0 0 10px 10px rgba(255, 255, 255, 0.300);

    border: 3px dashed rgba(0, 0, 0, 1.000);
    border-radius: 5px;
    font-size: 30px;
}

.message {
    position: fixed;
    margin-block-end: 10px;
    padding-inline: 10px;
    padding-block: 3px;
    top: 75px;

    background-color: #51bcf183;
    border-radius: 3px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 0.75em;

    visibility: hidden;
}


.table {
    grid-area: table;
    display: grid;
    padding: 1px;
    margin-block-start: 7px;
    gap: 1px;

    background-color: rgb(205, 205, 205);
    border: 1px solid rgba(0, 0, 0, 0.522);
    border-radius: 3px;
    box-shadow:
        4px 7px 5px 0px rgba(0, 0, 0, 0.5);

    grid-template-columns: 500fr 150fr 350fr;

    grid-template-areas:
        "title0 price0 actions0";

    width: 95vw;
}



.filter-books-form {
    grid-area: filter-books;
    justify-self: center;
}

.add-book-form {
    grid-area: add-book;
    justify-self: center;

}

.filter-books-form span,
.add-book-form span {
    background-color: rgb(61, 61, 61);
    /* border: 2px solid rgba(255, 255, 255, 0.377); */
    color: white;
    border-radius: 2px;
    padding-inline: 10px;
    padding-block-end: 2px;
    /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.429); */
}



form input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.574);
    border-radius: 3px;
    /* box-shadow:
    0 2px 5px 0px rgba(0, 0, 0, 0.2); */
    padding-block-start: 3px;
    padding-block-end: 2px;
    padding-inline-start: 5px;

}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
}


.modal-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.modal {
    position: relative;
    padding: 20px;
    top: 130px;
    margin: auto;

    display: grid;
    gap: 5px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-template-areas:
        "image title-header"
        "image title-content"
        "image price-header"
        "image price-content";

    height: 30vh;
    width: 400px;

    background-color: rgb(255, 255, 245);
    border: 2px solid rgb(136, 136, 136);
    box-shadow:
    1px 1px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.modal-img {
    grid-area: image;
}

.modal-img img {
    width: 100%;
    height: 100%;

    border: 2px solid rgba(0, 0, 0, 0.532);
    box-shadow:
    1px 1px 3px 0px rgba(0, 0, 0, 0.5);

    border-radius: 3px;
}

.title-header {
    grid-area: title-header;
    margin-inline-start: 10px;
    height: 25px;

    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.77);
    color: white;
    border-radius: 3px;
}

.title-content {
    grid-area: title-content;
    margin-inline-start: 10px;

    font-size: 1.5em;
    /* background-color: rgba(255, 255, 255, 0.77); */
    color: rgb(0, 0, 0);
    border-radius: 3px;
}

.price-header {
    grid-area: price-header;
    margin-inline-start: 10px;
    height: 25px;

    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.77);
    color: white;
    border-radius: 3px;

}

.price-content {
    grid-area: price-content;
    margin-inline-start: 10px;

    font-size: 1.5em;
    /* background-color: rgba(255, 255, 255, 0.77); */
    color: rgb(0, 0, 0);
    border-radius: 3px;
}



.empty {
    grid-area: empty;

    background-color: white;
    text-align: center;
    padding-top: 15px;
    height: 50px;
}

.demo {
    grid-area: demo;

    color: #175371;
    text-align: center;
    padding: 5px;

    cursor: pointer;
}



.title {
    padding-inline-start: 5px;
}


.title,
.price,
.actions {
    display: flex;
    place-items: center;
}


.title0,
.price0,
.actions0 {
    justify-content: center;

    font-weight: bolder;
    font-size: 1.1em;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.429);

    height: 25px;

}



.price {
    grid-area: price;
    justify-content: center;
}

.title {
    grid-area: title;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.829);

}

.actions {
    display: flex;
    gap: 5px;
    grid-area: actions;
    -webkit-text-stroke: 0.3px rgba(0, 0, 0, 1.029);

    justify-content: center;
}

input.price {
    display: flex;
    width: 100%;
    justify-self: center;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

input.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* [class^="price"]:is(.price0, .price2, .price4, .price6, .price8, .price10, .price12),
[class^="title"]:is(.title0, .title2, .title4, .title6, .title8, .title10, .title12),
[class^="actions"]:is(.actions0, .actions2, .actions4, .actions6, .actions8, .actions10, .actions12) { */
.price:nth-child(2n + 1), .title:nth-child(2n), .actions:nth-child(2n) {

    background-color: rgb(255, 255, 255);
}


/* [class^="price"]:is(.price1, .price3, .price5, .price7, .price9, .price11, .price13),
[class^="title"]:is(.title1, .title3, .title5, .title7, .title9, .title11, .title13),
[class^="actions"]:is(.actions1, .actions3, .actions5, .actions7, .actions9, .actions11, .actions13) { */
.price:nth-child(2n), .title:nth-child(2n + 1), .actions:nth-child(2n + 1) {

    background-color: rgb(224, 224, 224);

}    




.read,
.update,
.delete {
    display: flex;
    place-items: center;
    justify-content: center;

    margin-block-start: 5px;
    margin-block-end: 5px;

    font-weight: bolder;
    border-radius: 5px;

    width: 70px;
    height: 25px;

    cursor: pointer;

}

.read {
    background-color: #51bcf1;
}

.update {
    background-color: #f4c74d;
}

.delete {
    background-color: #ec8123;
}


.title0 {
    grid-area: title0;
}

.price0 {
    grid-area: price0;
}

.actions0 {
    grid-area: actions0;
}



.stats-footer {
    position: absolute;

    display: fixed;
    bottom: 0px;

    height: 18px;
    width: 100vw;
    background-color: rgba(246, 251, 198, 0.766);
    color: rgba(0, 0, 0, 0.834);
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.829);
    border: 1px solid rgba(0, 0, 0, 0.467);

    text-align: center;
    font-size: 0.85em;
}

.stats-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "expensive midrange cheap";
}


.expensive {
    grid-area: expensive;
    justify-self: flex-end;
}

.midrange {
    grid-area: midrange;
}

.cheap {
    grid-area: cheap;
    justify-self: flex-start;

}

.sort-down,
.sort-up {
    cursor: pointer;
}

.sort-up {
    margin-inline-start: 10px;
}